<% provide(:title, 'Help') %>
<html>
  <head>
    <title>Assignment | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
	<p>
	  For assistance with this application or tracking your assignments, please contact one of the authors. 
	</p>
  </body>
</html>




