 <% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/assignment_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Assignments</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
	  <div class
	  <div class="center hero-unit">
	  <title>Assignments</title>
	  <h1>Assignments</h1>
	  <h2>
	   This is the homepage for your Assignments.
	  </h2>
    <h6>
	     <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </h6>
	</div>
<% end %>