  <div class="center hero-unit">
  <title>Assignments</title>
  <h1>Assignments</h1>
  <h2>
   This is the homepage for your Assignments.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
